:root {
    --bg-color: #ffffff;
    --text-color: #1e1e1e;

  }
  
  .dark-mode {
    --bg-color: #1e1e1e;
    --text-color: #ffffff;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background 0.3s, color 0.3s;
  }

  body.dark-mode {
    background: #121212;
    color: #ffffff;
}

/* Elementos específicos */
body.dark-mode .todoapp {
    background: #1e1e1e;
    color: #e0e0e0;
}

body.dark-mode .new-todo,
body.dark-mode .edit {
    background: #1e1e1e;
    color: #fff;
    border: 1px solid #ffffff;
}

body.dark-mode .todo-list li {
    border-bottom: 1px solid #ffffff;
}

/* Cambiar colores de botones y textos */
body.dark-mode button {
    color: #fff;
}

body.dark-mode .filters li a {
    color: #ffffff;
}

body.dark-mode .filters li a.selected {
    border-color: rgb(255, 255, 255);
}

body.dark-mode .filters li a.hover {
  border-color: rgb(255, 255, 255);
}

body.dark-mode .clear-completed {
    color: #ffffff;
}

.div-button {
  justify-content: center; /* Centra horizontalmente */
  display: grid;
}

.div-button2 {
  border-radius: 5px;
  background: #1e1e1e;
  color: #e0e0e0;
  padding: 5px;
}

body.dark-mode .div-button2 {
  color: #1e1e1e;
  background: #e0e0e0;
}

body.dark-mode input::placeholder {
  color: #ffffff;
}

body.dark-mode footer {
  color: #ffffff; /* Color más claro para mejor visibilidad */
}

body.dark-mode .todo-list li label {
  color: #e0e0e0;
}

body.dark-mode .todo-list li .toggle + label {
	/*
		Firefox requires `#` to be escaped - https://bugzilla.mozilla.org/show_bug.cgi?id=922433
		IE and Edge requires *everything* to be escaped to render, so we do that instead of just the `#` - https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7157459/
	*/
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23e0e0e0%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
}

body.dark-mode .todo-list li .toggle:checked + label {
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23e0e0e0%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%2343cf2a%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
}